<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949012975588-4hpcvnak84k4p5vsb6dg0hlpqk8b2ljq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949012975588-4hpcvnak84k4p5vsb6dg0hlpqk8b2ljq</string>
	<key>API_KEY</key>
	<string>AIzaSyAoA1pKKE_BH2T-KJDUTRsxtB-spKG7Z8A</string>
	<key>GCM_SENDER_ID</key>
	<string>949012975588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GrainBrain</string>
	<key>PROJECT_ID</key>
	<string>grainbrain-48320</string>
	<key>STORAGE_BUCKET</key>
	<string>grainbrain-48320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949012975588:ios:3a14a32644ba66306301f1</string>
</dict>
</plist>